@tailwind base;
@tailwind components;
@tailwind utilities;

.theShadow-icon {
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    border-radius: 20%;
    padding: 22px;
}

.module-icons {
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    border-radius: 20%;
}

.module-input {
    background: rgb(239, 99, 49);
}

.invoke-name-logo {
    border-raduis: 7px;
    padding: 4px;
}

.invoke-name-logo:hover {
    outline-style: solid;
    outline-color: rgb(239, 99, 49);
    border-radius: 5px;
}

.theShadow-display {
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    border-radius: 10px;
    background-color: rgb(239, 99, 49);
    color: rgb(255, 255, 255)
        /* padding:22px; */
}

.theShadow-main {
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    /* border-radius:20%; */
    padding: 22px;
    min-height: 625px;
    min-width: 450px
}

.theShadow-generate-btn {
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    border-radius: 10px;
    /* padding:22px; */
}

.invertedShadow {
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.input:focus {

    outline: none;
    border: .01px solid rgb(239, 99, 49);
    outline-style: solid;
    outline-color: rgb(239, 99, 49);
    background: white;
}

.row:nth-child(odd) {
    background: rgb(220, 218, 218);
}

.row:nth-child(even) {
    background: rgb(241, 241, 241);
}

.Active {
    background: rgb(237, 132, 13)
}

li {
    cursor: pointer;
}

li:hover {
    background: rgb(203, 116, 106)
}

th {
    width: 177px;
}

.UserData {
    height: 58rem;
    justify-content: space-around;
}